body {
  margin: 0;
  font-family: cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code{
  font-family: cursive;
}
.head{
  margin-left: 20px;
  width: 70%;
  padding-top: 3px;
  height: 60px;
  color:white;
  background-color: cadetblue;
}
.btns{
  position: relative;
  bottom: 4px;
  background: cornsilk;
  height: 60px;
  border: 0;
}
.btns:hover{
  background-color: rgb(252, 247, 247);
  border-radius: 4px;
}
.div{
  display: flex;
  align-items: center;
}
.table{
  cursor: pointer;
  width: 80%;
  margin: auto;
  border: 2px solid cadetblue;
  text-transform: capitalize;
}
.table thead{
  border: 2px solid cadetblue;
  background-color: white;
}
.table thead tr th{
  margin: 2px;
  border:1px solid rgb(229, 243, 243);
}
.table thead:hover{
  color: white;
  background-color:rgb(5, 5, 29);
  border: 0;
}
.table tbody{
  background-color: rgb(255, 255, 255);
}
.table tbody tr:hover{
  color:brown;
  background-color: rgb(241, 241, 241);
}
.form{
  margin: auto;
  margin-top: 100px;
  display: flex;
  width: auto;
  background-color:cornsilk;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}
.form h1{
  text-align: center;
  text-transform: capitalize;
  margin: 20px;
  padding: 10px;
  font-weight: 900;
  width: 500px;
  font-family: 'Times New Roman', Times, serif;
  color:white;
  background-color: cadetblue;
}
.form input{
  background-color: white;
  border: 0;
  margin: 5px;
  border-radius: 4px;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 1px 1px 2px lightblue;
}
.form input::placeholder{
  font-size: 0.8rem;
  text-transform: capitalize;
  font-family: cursive;
}
.form button{
  border: 0;
  margin: 30px;
  padding: 5px;
  width: 100px;
  color: white;
  text-transform: capitalize;
  background-color: rgb(24, 63, 65);
  box-shadow: 1px 1px 2px gray;
}
.text-danger{
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.8rem;
  color: red;
  margin-top: 5px;
  background-color: lightgoldenrodyellow;
}
